<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/sidney-logo-white.webp" alt="logo" width="264" height="78"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Me</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Blogs</h2>
                    </li>
                    <li>
                        <a href="/blog/ethiopia-joy-on-every-face/">Joy on Every Face</a>
                    </li>
                    <li>
                        <a href="/blog/forgiveness-and-friendships/">Forgiveness and Friendships</a>
                    </li>
                    <li>
                        <a href="/blog/goodbye-for-now-ethiopia/">Goodbye for now Ethiopia</a>
                    </li>
                    <li>
                        <a href="/blog/jet-lag-journeys/">Jet Lag Journeys</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://cincinnatiwebdesigns.com" target="_blank" rel="noopener">Cincinnati Web Designs</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>
