---
title: 'About | Sidney Switzer'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Me</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/tree.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/tree.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/tree.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/church.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/church.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/church.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/hero.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/hero.webp" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <h2 class="cs-title">Hi, I'm Sidney</h2>
                <p class="cs-text">
                    and I love Jesus and the nations. My passion for helping people started when my family moved to the Philippines when I was 8. While living there, I saw firsthand the reality of poverty as people lived on a trash dump. It was here that God stirred a desire in me to serve.                </p>
                <p class="cs-text">
                    Growing up wasn’t always easy—I battled insecurity, depression, and seasons of isolation through middle school, high school and college. But in 2023, at a prayer event with Andre van Zyl, God met me powerfully and affirmed my calling to missions. I graduated in 2024 from the University of Cincinnati and joined a YWAM discipleship training program in Germany. It was here that the Lord deepened my faith and showed me His plans are better than anything I could come up with.                </p>
                <p class="cs-text">
                    Now, I’m simply a girl chasing after Jesus and helping others discover His love for them.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        So now faith, hope, and love abide, these three; but the greatest of these is love.
                    </p>
                    <span class="cs-name">1 Corinthians</span>
                    <span class="cs-job">13:33</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}