---
title: 'About Sidney Switzer - My Faith Story & God's Calling'
description: 'Learn about Sidney Switzer's decision to follow God's calling to the ends of the earth. Discover her faith journey, mission work, and how she's trusting God with every step of life's adventure.'
preloadImg: '/assets/images/faith-mountains.webp'
permalink: 'about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Me</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/faith-mountains.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/faith-mountains.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/faith-mountains.webp" alt="Faith Mountains" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/sidney-children.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/sidney-children.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/sidney-children.webp" alt="Sidney Switzer with local children" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/hero.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/hero.webp" alt="Sidney Switzer praying with the local community" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <h2 class="cs-title">Hi, I'm Sidney</h2>
                <p class="cs-text">
                    and I love Jesus and the nations. My passion for helping people started when my family moved to the Philippines when I was 8. While living there, I saw firsthand the reality of poverty as people lived on a trash dump. It was here that God stirred a desire in me to serve.                </p>
                <p class="cs-text">
                    Growing up wasn’t always easy—I battled insecurity, depression, and seasons of isolation through middle school, high school and college. But in 2023, at a prayer event with Andre van Zyl, God met me powerfully and affirmed my calling to missions. I graduated in 2024 from the University of Cincinnati and joined a YWAM discipleship training program in Germany. It was here that the Lord deepened my faith and showed me His plans are better than anything I could come up with.                </p>
                <p class="cs-text">
                    Now, I’m simply a girl chasing after Jesus and helping others discover His love for them.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        So now faith, hope, and love abide, these three; but the greatest of these is love.
                    </p>
                    <span class="cs-name">1 Corinthians</span>
                    <span class="cs-job">13:33</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="/assets/svgs/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Recent Posts                 -->
    <!-- ============================================ -->

    <section id="blog-1347">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Blog</span>
                <h2 class="cs-title">Latest News And Articles</h2>
                <!-- <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis quam eu elit lobortis ultrices. Nulla ut accumsan lorem, sed molestie justo. Praesent vehicula eleifend.
                </p> -->
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a class="cs-link" href="/blog/ethiopia-joy-on-every-face/">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                srcset="/assets/images/blog/img_7884.jpg">
                            <source media="(min-width: 601px)"
                                srcset="/assets/images/blog/img_7884.jpg">
                            <img decoding="async"
                                src="/assets/images/blog/img_7884.jpg"
                                alt="Ethiopia!! Joy on Every Face, Hope in Every Heart" width="413" loading="lazy" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-item-text">
                            <h3 class="cs-h3">
                                Ethiopia!! Joy on Every Face, Hope in Every Heart
                                <picture class="cs-icon-wrapper">
                                    <img class="cs-icon" decoding="async"
                                            src="/assets/images/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                                </picture>
                            </h3>
                            <div class="cs-info">
                                <span class="cs-date">
                                    <img class="cs-date-icon" decoding="async"
                                            src="/assets/images/agency-calendar.svg"
                                            alt="calendar" width="413" height="374" aria-hidden="true">
                                    06 Dec, 2024
                                </span>
                                <span class="cs-category">
                                    Blog
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="/blog/forgiveness-and-friendships/">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                srcset="/assets/images/blog/img_5768.jpg">
                            <source media="(min-width: 601px)"
                                srcset="/assets/images/blog/img_5768.jpg">
                            <img decoding="async"
                                src="/assets/images/blog/img_5768.jpg"
                                alt="Forgiveness and Friendships: Letting Go to Draw Closer to God" width="413" loading="lazy" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-item-text">
                            <h3 class="cs-h3">
                                Forgiveness and Friendships: Letting Go to Draw Closer to God
                                <picture class="cs-icon-wrapper">
                                    <img class="cs-icon" decoding="async"
                                            src="/assets/images/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                                </picture>
                            </h3>
                            <div class="cs-info">
                                <span class="cs-date">
                                    <img class="cs-date-icon" decoding="async"
                                            src="/assets/images/agency-calendar.svg"
                                            alt="calendar" width="413" height="374" aria-hidden="true">
                                    12 Oct, 2024
                                </span>
                                <span class="cs-category">
                                 Blog
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="/blog/god-moves-even-in-the-waiting-season/">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                srcset="/assets/images/blog/img_0467.jpg">
                            <source media="(min-width: 601px)"
                                srcset="/assets/images/blog/img_0467.jpg">
                            <img decoding="async"
                                src="/assets/images/blog/img_0467.jpg"
                                alt="God Moves, Even in the Waiting Season" width="413" loading="lazy" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-item-text">
                            <h3 class="cs-h3">
                                God Moves, Even in the Waiting Season
                                <picture class="cs-icon-wrapper">
                                    <img class="cs-icon" decoding="async"
                                            src="/assets/images/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                                </picture>
                            </h3>
                            <div class="cs-info">
                                <span class="cs-date">
                                    <img class="cs-date-icon" decoding="async"
                                            src="/assets/images/agency-calendar.svg"
                                            alt="calendar" width="413" height="374" aria-hidden="true">
                                    28 Apr, 2025
                                </span>
                                <span class="cs-category">
                                    Blog
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="cs-bubbles" aria-hidden="true"></div>
    </section>  

    <!-- ============================================ -->
    <!--                     CTA                      -->
    <!-- ============================================ -->

    <section id="cta-697">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Subscribe to Never Miss a Story</h2>
                <form id="cs-form-265" name="About: Subscribe to Never Miss a Story" method="post" data-netlify="true" netlify-honeypot="bot-field">
                    <label>
                        <input required type="text" id="email" name="email" placeholder="Email Address">
                    </label>
                    <button id="cs-submit" class="cs-button-transparent cs-submit" type="submit">Subscribe</button>
                  </form>
            </div>
        </div>
        <!--SVG Waves Background-->
        <img class="cs-background" src="/assets/svgs/waves-3.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
    </section>

    {% include 'components/cta.html' %}

{% endblock %}