---
title: 'Contact | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/faith-mountains.webp'
permalink: 'contact/'
eleventyNavigation:
    key: Contact
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/faith-mountains.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/faith-mountains.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/faith-mountains.webp" alt="Faith Mountains" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post" data-netlify="true" netlify-honeypot="bot-field">
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Get in Touch</h2>
                    <p class="cs-text">
                        I'd love to hear from you! Whether you have questions about my faith journey, want to connect, or just want to say hello, feel free to reach out. I'll do my best to get back to you as soon as possible. Let's connect and share in this adventure together!
                    </p>
                </div>
                <label>
                    Name
                    <input required type="text" id="name" name="name" placeholder="Name">
                </label>
                <label>
                    Email
                    <input required type="text" id="email" name="email" placeholder="Email">
                </label>
                <label>
                    Phone
                    <input required type="text" id="phone" name="phone" placeholder="Phone">
                </label>
                <label>
                    How Did You Find Us
                    <input type="text" id="find" name="find-us" placeholder="How did you find us?">
                </label>
                <label class="cs-label-message">
                    Message
                    <textarea required name="Message" id="message" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Submit Message</button>
            </form>
            <div class="cs-right-section">
                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="/assets/images/sidney-rays.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/sidney-rays.webp" alt="Sidney Switzer in a Rays shirt" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
        </div>
    </section>
{% endblock %}