---
title: 'Gallery | Sidney Switzer'
description: 'Meta description for the page'
preloadImg: '/assets/images/Germany.jpg'
permalink: 'gallery/'
eleventyNavigation:
    key: Gallery
    order: 400
    hideOnMobile: true
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Gallery</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/pexels-tima-miroshnichenko-5199810.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/pexels-tima-miroshnichenko-5199810.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/pexels-tima-miroshnichenko-5199810.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

     <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/church.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/church.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/church.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/d2ed35df-15f0-48e0-aecb-37c6b133b38d.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/d2ed35df-15f0-48e0-aecb-37c6b133b38d.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/d2ed35df-15f0-48e0-aecb-37c6b133b38d.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/IMG_8830.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG_8830.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/IMG_8830.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/DSC_0596.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/DSC_0596.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/DSC_0596.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/IMG_8061.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG_8061.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/IMG_8061.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/e617d5a6-9025-402a-a17d-e4e94fc44b4d.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/e617d5a6-9025-402a-a17d-e4e94fc44b4d.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/e617d5a6-9025-402a-a17d-e4e94fc44b4d.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/IMG_3756.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG_3756.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/IMG_3756.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/7416bb71-2330-4e9d-8434-2dad5a339493.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/7416bb71-2330-4e9d-8434-2dad5a339493.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/7416bb71-2330-4e9d-8434-2dad5a339493.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/IMG_4931.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG_4931.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/IMG_4931.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}