/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs {
    padding: var(--sectionPadding);
  }
  #sbs .cs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    row-gap: 2.5rem;
  }
  #sbs .cs-left {
    position: relative;
    height: 39.75em;
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
  }
  #sbs .cs-picture {
    position: absolute;
    display: block;
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
  }
  #sbs .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs .cs-picture1 {
    top: 0;
    left: 0;
    height: 36.3125em;
    width: 32.625em;
  }
  #sbs .cs-picture2 {
    bottom: 0;
    right: 0;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
    background-color: #fff;
    height: 25em;
    width: 25.875em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
  }
  #sbs .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs .cs-topper {
    margin-bottom: 0.25rem;
    text-align: left;
  }
  #sbs .cs-title {
    max-width: 50rem;
    text-align: left;
  }
  #sbs .cs-text {
    margin-bottom: 1rem;
    max-width: 46.875rem;
    text-align: left;
  }
  #sbs .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs .cs-flex-group {
    position: relative;
    border-radius: 1rem;
    background-color: #f7f7f7;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
  }
  #sbs .cs-flex-p {
    margin: 0 0 1rem;
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: #353535;
  }
  #sbs .cs-name {
    display: block;
    margin: 0 0 0.25rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--headerColor);
  }
  #sbs .cs-job {
    display: block;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
  }
  #sbs .cs-quote-icon {
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
    height: auto;
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
  }
  #sbs .cs-button-solid {
    margin-top: 2rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs .cs-left:before,
  body.dark-mode #sbs .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs .cs-picture2 {
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
    background-color: var(--dark);
  }
  body.dark-mode #sbs .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs .cs-title,
  body.dark-mode #sbs .cs-text,
  body.dark-mode #sbs .cs-h3,
  body.dark-mode #sbs .cs-flex-p,
  body.dark-mode #sbs .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs .cs-job {
    opacity: 0.8;
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .cs-quote-icon {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-r {
    padding: var(--sectionPadding);
  }
  #sbs-r .cs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    row-gap: 2.5rem;
  }
  #sbs-r .cs-left {
    position: relative;
    height: 39.75em;
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
  }
  #sbs-r .cs-picture {
    position: absolute;
    display: block;
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
  }
  #sbs-r .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs-r .cs-picture1 {
    top: 0;
    right: 0;
    height: 36.3125em;
    width: 32.625em;
  }
  #sbs-r .cs-picture2 {
    bottom: 0;
    left: 0;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
    background-color: #fff;
    height: 25em;
    width: 25.875em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
  }
  #sbs-r .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs-r .cs-topper {
    margin-bottom: 0.25rem;
    text-align: left;
  }
  #sbs-r .cs-title {
    max-width: 50rem;
    text-align: left;
  }
  #sbs-r .cs-text {
    margin-bottom: 1rem;
    max-width: 46.875rem;
    text-align: left;
  }
  #sbs-r .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-r .cs-flex-group {
    position: relative;
    border-radius: 1rem;
    background-color: #f7f7f7;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
  }
  #sbs-r .cs-flex-p {
    margin: 0 0 1rem;
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: #353535;
  }
  #sbs-r .cs-name {
    display: block;
    margin: 0 0 0.25rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--headerColor);
  }
  #sbs-r .cs-job {
    display: block;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
  }
  #sbs-r .cs-quote-icon {
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
    height: auto;
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
  }
  #sbs-r .cs-button-solid {
    margin-top: 2rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-r .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs-r .cs-left {
    /* sends it to the right */
    order: 2;
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs-r .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-r .cs-left:before,
  body.dark-mode #sbs-r .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs-r .cs-picture2 {
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
    background-color: var(--dark);
  }
  body.dark-mode #sbs-r .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs-r .cs-title,
  body.dark-mode #sbs-r .cs-text,
  body.dark-mode #sbs-r .cs-h3,
  body.dark-mode #sbs-r .cs-flex-p,
  body.dark-mode #sbs-r .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-r .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs-r .cs-job {
    opacity: 0.8;
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-r .cs-quote-icon {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
  #gallery {
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;
    padding: var(--sectionPadding);
    /* Centers button */
    text-align: center;
  }
  #gallery .cs-container {
    margin: auto;
    max-width: 82.625em;
    width: 100%;
  }
  #gallery .cs-topper {
    margin-bottom: 1rem;
    text-align: center;
  }
  #gallery .cs-title {
    margin-bottom: 2.5rem;
    max-width: none;
    text-align: center;
  }
  #gallery .cs-image-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto 3.75rem;
    max-width: 82.625em;
    width: 100%;
    padding: 0;
    /* used rem so it doesn't scale with the font size of on parent */
    font-size: min(1.1vw, 1em);
    gap: 1.875em;
  }
  #gallery .cs-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875em;
  }
  #gallery .cs-picture {
    position: relative;
    display: block;
  }
  #gallery .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery .cs-row-1 .cs-picture1 {
    height: 35.4375em;
    width: 26.25em;
  }
  #gallery .cs-row-1 .cs-picture2 {
    height: 39.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-1 .cs-picture3 {
    height: 32em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture1 {
    height: 30.75em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture2 {
    height: 32.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture3 {
    height: 39.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture1 {
    height: 39.0625em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture2 {
    height: 28.25em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture3 {
    height: 39.3125em;
    width: 26.25em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery .cs-title {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews {
    padding: var(--sectionPadding);
    /* Centers the button */
    text-align: center;
  }
  #reviews .cs-container {
    margin: auto;
    max-width: 69rem;
    width: 100%;
  }
  #reviews .cs-topper {
    margin-bottom: 1rem;
    text-align: center;
  }
  #reviews .cs-title {
    max-width: 43.75rem;
    text-align: center;
  }
  #reviews .cs-text {
    /* 88px - 104px */
    margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
    max-width: 40.625rem;
    text-align: center;
  }
  #reviews .cs-card-group {
    /* 48px - 64px */
    margin: 0 auto clamp(3rem, 5vw, 4rem);
    padding: 0;
  }
  #reviews .cs-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    margin: 0 auto 4rem;
    background: #fff;
    max-width: 33.875rem;
    width: 100%;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
    /* Padding L & R - 16px - 32px */
    padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    list-style: none;
    text-align: left;
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
  }
  #reviews .cs-item:last-of-type {
    margin-bottom: 0;
  }
  #reviews .cs-item-img {
    position: absolute;
    top: calc(-40 / 16 * 1rem);
    height: 5rem;
    width: 5rem;
  }
  #reviews .cs-item-p {
    border-bottom: 1px solid #e8e9ec;
    margin: 0 0 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #reviews .cs-reviewer {
    display: block;
    margin: 0 auto 0 0;
    width: 40%;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #reviews .cs-desc {
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(#353535);
  }
  #reviews .cs-item-stars {
    height: 1rem;
    width: 6rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews .cs-card-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #reviews .cs-item {
    /* reset margin so it won't interfere with flexbox */
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews .cs-title,
  body.dark-mode #reviews .cs-text,
  body.dark-mode #reviews .cs-item-p,
  body.dark-mode #reviews .cs-reviewer {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews .cs-item {
    background: var(--medium);
  }
  body.dark-mode #reviews .cs-desc {
    color: var(--primaryLight);
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-285 {
    /* centers the button */
    text-align: center;
    padding: var(--sectionPadding);
  }
  #services-285 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-285 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-285 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 1rem;
  }
  #services-285 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 31.25rem;
    /* 32px - 40px top & bottom */
    /* 28px - 40px left & right */
    padding: clamp(2rem, 3vw, 2.5rem) clamp(1.75rem, 3vw, 2.5rem);
    background-color: #fafbfc;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.3s;
  }
  #services-285 .cs-item:hover {
    background-color: var(--primary);
    transform: translateY(-0.4375rem);
  }
  #services-285 .cs-item:hover .cs-picture:before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  #services-285 .cs-item:hover .cs-h3,
  #services-285 .cs-item:hover .cs-item-text {
    color: #fff;
  }
  #services-285 .cs-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #services-285 .cs-picture {
    margin: 0;
    margin-bottom: 1.5rem;
    /* 68px - 88px */
    width: clamp(4.25rem, 4vw, 5.5rem);
    height: clamp(4.25rem, 4vw, 5.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary);
    position: relative;
    z-index: 1;
  }
  #services-285 .cs-picture:before {
    /* floating hover box */
    content: "";
    width: 130%;
    height: 130%;
    background-color: transparent;
    opacity: 0;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    z-index: 10;
    transition: width 0.5s, height 0.5s, opacity 0.4s;
  }
  #services-285 .cs-icon {
    /* 45px - 54px */
    height: clamp(2.8125rem, 3vw, 3.375rem);
    width: auto;
  }
  #services-285 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 900;
    text-align: center;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #services-285 .cs-item-text {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color 0.3s;
  }
  #services-285 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #services-285 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #services-285 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-285 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* 16px - 20px */
    column-gap: clamp(1rem, 2vw, 1.25rem);
  }
}
/*-- -------------------------- -->
<---        Recent Posts        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #blog-1347 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #blog-1347 .cs-container {
    width: 100%;
    /* changes to 1280px on desktop */
    max-width: 43.75rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #blog-1347 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #blog-1347 .cs-title {
    max-width: 20ch;
  }
  #blog-1347 .cs-topper {
    color: var(--primary);
  }
  #blog-1347 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }
  #blog-1347 .cs-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    grid-column: span 12;
  }
  #blog-1347 .cs-item:hover .cs-h3,
  #blog-1347 .cs-item:hover .cs-date,
  #blog-1347 .cs-item:hover .cs-category {
    color: #fff;
  }
  #blog-1347 .cs-item:hover .cs-item-text {
    background-color: var(--primary);
  }
  #blog-1347 .cs-item:hover .cs-icon-wrapper {
    border-color: #fff;
  }
  #blog-1347 .cs-item:hover .cs-icon,
  #blog-1347 .cs-item:hover .cs-date-icon {
    filter: brightness(1000%) grayscale(1);
  }
  #blog-1347 .cs-item:hover .cs-icon {
    transform: rotate(45deg);
  }
  #blog-1347 .cs-item:hover .cs-category::before {
    background-color: #fff;
    opacity: 0.2;
  }
  #blog-1347 .cs-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    /* if one card has more content then the others, the card will stretch to fill the parent container */
    flex-grow: 1;
    gap: 1rem;
  }
  #blog-1347 .cs-picture {
    width: 100%;
    height: 20rem;
    margin: 0;
    border-radius: 1.5rem;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #blog-1347 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #blog-1347 .cs-item-text {
    padding: 1.25rem;
    background-color: #f7f7f7;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* makes the item text the element that grows to fill the container */
    flex-grow: 1;
    transition: background-color 0.3s;
  }
  #blog-1347 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
    line-height: 1.2em;
    text-align: left;
    margin: 0;
    color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: color 0.3s;
  }
  #blog-1347 .cs-icon-wrapper {
    width: 3rem;
    height: 3rem;
    border: 1px solid #bababa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents the parent flexbox from shrinking the icon */
    flex-shrink: 0;
    transition: border-color 0.3s;
  }
  #blog-1347 .cs-icon {
    width: auto;
    height: 0.75rem;
    transition: filter 0.3s, transform 0.3s;
  }
  #blog-1347 .cs-info {
    margin: 1rem 0 0;
    padding: 1rem 0 0;
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #blog-1347 .cs-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: left;
    color: #1a1a1a;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s;
  }
  #blog-1347 .cs-date-icon {
    width: auto;
    height: 1.5rem;
    transition: filter 0.3s;
  }
  #blog-1347 .cs-category {
    font-size: 0.875rem;
    /* centers the text if the category bullet has to span multiple lines */
    text-align: center;
    padding: 0.25rem 1rem;
    color: #1a1a1a;
    border-radius: 5rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
  #blog-1347 .cs-category::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #e8e8e8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #blog-1347 .cs-bubbles {
    width: 20.0625rem;
    height: 26.4375rem;
    display: none;
    position: absolute;
    top: 66.4375rem;
    right: -8.75rem;
    z-index: -1;
  }
  #blog-1347 .cs-bubbles:before {
    /* white border bubble */
    content: "";
    width: 16.5rem;
    height: 16.5rem;
    background: transparent;
    opacity: 1;
    border: 1px solid #1a1a1a;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    animation-name: floatAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  #blog-1347 .cs-bubbles:after {
    /* orange bubble */
    content: "";
    width: 16.5rem;
    height: 16.5rem;
    background: var(--primary);
    opacity: 0.1;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    animation-name: floatAnimation2;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #blog-1347 .cs-bubbles {
    display: block;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #blog-1347 .cs-container {
    max-width: 80rem;
  }
  #blog-1347 .cs-item {
    grid-column: span 4;
  }
  #blog-1347 .cs-bubbles {
    top: 17.5625rem;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #blog-1347 .cs-bubbles {
    margin-right: -61.875rem;
    right: 50%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #blog-1347 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #blog-1347 .cs-title,
  body.dark-mode #blog-1347 .cs-text,
  body.dark-mode #blog-1347 .cs-h3,
  body.dark-mode #blog-1347 .cs-date,
  body.dark-mode #blog-1347 .cs-category {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #blog-1347 .cs-text,
  body.dark-mode #blog-1347 .cs-date,
  body.dark-mode #blog-1347 .cs-category {
    opacity: 0.8;
  }
  body.dark-mode #blog-1347 .cs-item-text {
    background-color: var(--medium);
  }
  body.dark-mode #blog-1347 .cs-category::before {
    background-color: var(--accent);
  }
}
