/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs {
        padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            max-width: (1280/16rem);
            width: 100%;
            row-gap: (40/16rem);
        }

        .cs-left {
            position: relative;
            height: (636/16em);
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, 0.7em)";
        }

        .cs-picture {
            position: absolute;
            display: block;
            border-radius: (24/16em);
            /* clips img tag corners */
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            top: 0;
            left: 0;
            height: (581/16em);
            width: (522/16em);
        }

        .cs-picture2 {
            bottom: 0;
            right: 0;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            background-color: #fff;
            height: (400/16em);
            width: (414/16em);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        }

        .cs-right {
            margin: auto;
            max-width: (542/16rem);
        }

        .cs-topper {
            margin-bottom: (4/16rem);
            text-align: left;
        }

        .cs-title {
            max-width: (800/16rem);
            text-align: left;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            max-width: (750/16rem);
            text-align: left;

            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-flex-group {
            position: relative;
            border-radius: (16/16rem);
            background-color: #f7f7f7;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
        }

        .cs-flex-p {
            margin: 0 0 (16/16rem);
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            color: #353535;
        }

        .cs-name {
            display: block;
            margin: 0 0 (4/16rem);
            text-transform: uppercase;
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: bold;
            color: var(--headerColor);
        }

        .cs-job {
            display: block;
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #353535;
        }

        .cs-quote-icon {
            position: absolute;
            bottom: (0/16rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            height: auto;
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
        }

        .cs-button-solid {
            margin-top: (32/16rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-left {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-right {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs {
            .cs-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
                background-color: var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }

            .cs-job {
                opacity: 0.8;
                color: var(--bodyTextColorWhite);
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-r {
        padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            max-width: (1280/16rem);
            width: 100%;
            row-gap: (40/16rem);
        }

        .cs-left {
            position: relative;
            height: (636/16em);
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, 0.7em)";
        }

        .cs-picture {
            position: absolute;
            display: block;
            border-radius: (24/16em);
            /* clips img tag corners */
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            top: 0;
            right: 0;
            height: (581/16em);
            width: (522/16em);
        }

        .cs-picture2 {
            bottom: 0;
            left: 0;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            background-color: #fff;
            height: (400/16em);
            width: (414/16em);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        }

        .cs-right {
            margin: auto;
            max-width: (542/16rem);
        }

        .cs-topper {
            margin-bottom: (4/16rem);
            text-align: left;
        }

        .cs-title {
            max-width: (800/16rem);
            text-align: left;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            max-width: (750/16rem);
            text-align: left;
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-flex-group {
            position: relative;
            border-radius: (16/16rem);
            background-color: #f7f7f7;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
        }

        .cs-flex-p {
            margin: 0 0 (16/16rem);
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            color: #353535;
        }

        .cs-name {
            display: block;
            margin: 0 0 (4/16rem);
            text-transform: uppercase;
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: bold;
            color: var(--headerColor);
        }

        .cs-job {
            display: block;
            font-size: (14/16rem);
            line-height: 1.5em;
            color: #353535;
        }

        .cs-quote-icon {
            position: absolute;
            bottom: (0/16rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            height: auto;
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
        }

        .cs-button-solid {
            margin-top: (32/16rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-r {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-left {
            /* sends it to the right */
            order: 2;
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-right {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-r {
            .cs-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
                background-color: var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }

            .cs-job {
                opacity: 0.8;
                color: var(--bodyTextColorWhite);
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
    #gallery {
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;
        padding: var(--sectionPadding);
        /* Centers button */
        text-align: center;
        .cs-container {
            margin: auto;
            max-width: (1322/16em);
            width: 100%;
        }

        .cs-topper {
            margin-bottom: (16/16rem);
            text-align: center;
        }

        .cs-title {
            margin-bottom: (40/16rem);
            max-width: none;
            text-align: center;
        }

        .cs-image-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin: 0 auto (60/16rem);
            max-width: (1322/16em);
            width: 100%;
            padding: 0;
            /* used rem so it doesn't scale with the font size of on parent */
            font-size: ~"min(1.1vw, 1em)";
            gap: (30/16em);
        }

        .cs-row {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: (30/16em);
        }

        .cs-picture {
            position: relative;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-row-1 {
            .cs-picture1 {
                height: (567/16em);
                width: (420/16em);
            }

            .cs-picture2 {
                height: (629/16em);
                width: (420/16em);
            }

            .cs-picture3 {
                height: (512/16em);
                width: (420/16em);
            }
        }

        .cs-row-2 {
            .cs-picture1 {
                height: (492/16em);
                width: (420/16em);
            }

            .cs-picture2 {
                height: (517/16em);
                width: (420/16em);
            }

            .cs-picture3 {
                height: (629/16em);
                width: (420/16em);
            }
        }

        .cs-row-3 {
            .cs-picture1 {
                height: (625/16em);
                width: (420/16em);
            }

            .cs-picture2 {
                height: (452/16em);
                width: (420/16em);
            }

            .cs-picture3 {
                height: (629/16em);
                width: (420/16em);
            }
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery {
            .cs-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews {
        padding: var(--sectionPadding);
        /* Centers the button */
        text-align: center;

        .cs-container {
            margin: auto;
            max-width: (1104/16rem);
            width: 100%;
        }

        .cs-topper {
            margin-bottom: (16/16rem);
            text-align: center;
        }

        .cs-title {
            max-width: (700/16rem);
            text-align: center;
        }

        .cs-text {
            /* 88px - 104px */
            margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
            max-width: (650/16rem);
            text-align: center;
        }

        .cs-card-group {
            /* 48px - 64px */
            margin: 0 auto clamp(3rem, 5vw, 4rem);
            padding: 0;
        }

        .cs-item {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            border-radius: (4/16rem);
            margin: 0 auto (64/16rem);
            background: #fff;
            max-width: (542/16rem);
            width: 100%;
            /* Prevents padding from affecting height & width */
            box-sizing: border-box;
            /* Padding L & R - 16px - 32px */
            padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
            /* 32px - 40px */
            padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
            list-style: none;
            text-align: left;
            box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-item-img {
            position: absolute;
            top: calc(-40 / 16 * 1rem);
            height: (80/16rem);
            width: (80/16rem);
        }

        .cs-item-p {
            border-bottom: 1px solid #e8e9ec;
            margin: 0 0 (20/16rem);
            padding-bottom: (20/16rem);
            font-size: (16/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
        }

        .cs-reviewer {
            display: block;
            margin: 0 auto 0 0;
            width: 40%;
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 700;
            color: var(--headerColor);
        }

        .cs-desc {
            display: block;
            font-size: (14/16rem);
            font-weight: 400;
            color: var(#353535);
        }

        .cs-item-stars {
            height: (16/16rem);
            width: (96/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews {
        .cs-card-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (16/16rem);
        }

        .cs-item {
            /* reset margin so it won't interfere with flexbox */
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews {
            .cs-title,
            .cs-text,
            .cs-item-p,
            .cs-reviewer {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background: var(--medium);
            }

            .cs-desc {
                color: var(--primaryLight);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-285 {
        /* centers the button */
        text-align: center;
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            row-gap: (16/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (500/16rem);
            /* 32px - 40px top & bottom */
            /* 28px - 40px left & right */
            padding: clamp(2rem, 3vw, 2.5rem) clamp(1.75rem, 3vw, 2.5rem);
            background-color: #fafbfc;
            box-sizing: border-box;
            transition:
                background-color 0.3s,
                transform 0.3s;

            &:hover {
                background-color: var(--primary);
                transform: translateY(-0.4375rem);

                .cs-picture {
                    &:before {
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                    }
                }

                .cs-h3,
                .cs-item-text {
                    color: #fff;
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-picture {
            margin: 0;
            margin-bottom: (24/16rem);
            /* 68px - 88px */
            width: clamp(4.25rem, 4vw, 5.5rem);
            height: clamp(4.25rem, 4vw, 5.5rem);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: var(--primary);
            position: relative;
            z-index: 1;

            &:before {
                /* floating hover box */
                content: "";
                width: 130%;
                height: 130%;
                background-color: transparent;
                opacity: 0;
                border-radius: 50%;
                border: 2px solid #fff;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                z-index: 10;
                transition:
                    width 0.5s,
                    height 0.5s,
                    opacity 0.4s;
            }
        }

        .cs-icon {
            /* 45px - 54px */
            height: clamp(2.8125rem, 3vw, 3.375rem);
            width: auto;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 900;
            text-align: center;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: (12/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            font-size: (16/16rem);
            text-align: center;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-285 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
            /* 16px - 20px */
            column-gap: clamp(1rem, 2vw, 1.25rem);
        }
    }
}

                             /*-- -------------------------- -->
<---        Recent Posts        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #blog-1347 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px on desktop */
            max-width: (700/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-topper {
            color: var(--primary);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (16/16rem);
        }

        .cs-item {
            list-style: none;
            display: flex;
            flex-direction: column;
            grid-column: span 12;

            &:hover {
                .cs-h3,
                .cs-date,
                .cs-category {
                    color: #fff;
                }

                .cs-item-text {
                    background-color: var(--primary);
                }

                .cs-icon-wrapper {
                    border-color: #fff;
                }

                .cs-icon,
                .cs-date-icon {
                    filter: brightness(1000%) grayscale(1);
                }

                .cs-icon {
                    transform: rotate(45deg);
                }

                .cs-category {
                    &::before {
                        background-color: #fff;
                        opacity: 0.2;
                    }
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            /* if one card has more content then the others, the card will stretch to fill the parent container */
            flex-grow: 1;
            gap: (16/16rem);
        }

        .cs-picture {
            width: 100%;
            height: (320/16rem);
            margin: 0;
            border-radius: (24/16rem);
            display: block;
            position: relative;
            z-index: 1;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-item-text {
            padding: (20/16rem);
            background-color: #f7f7f7;
            border-radius: (24/16rem);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* makes the item text the element that grows to fill the container */
            flex-grow: 1;
            transition: background-color 0.3s;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
            line-height: 1.2em;
            text-align: left;
            margin: 0;
            color: #1a1a1a;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (16/16rem);
            transition: color 0.3s;
        }

        .cs-icon-wrapper {
            width: (48/16rem);
            height: (48/16rem);
            border: 1px solid #bababa;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents the parent flexbox from shrinking the icon */
            flex-shrink: 0;
            transition: border-color 0.3s;
        }

        .cs-icon {
            width: auto;
            height: (12/16rem);
            transition:
                filter 0.3s,
                transform 0.3s;
        }

        .cs-info {
            margin: (16/16rem) 0 0;
            padding: (16/16rem) 0 0;
            border-top: 1px solid #e8e8e8;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .cs-date {
            font-size: (14/16rem);
            line-height: 1.5em;
            text-align: left;
            color: #1a1a1a;
            display: flex;
            align-items: center;
            gap: (8/16rem);
            transition: color 0.3s;
        }

        .cs-date-icon {
            width: auto;
            height: (24/16rem);
            transition: filter 0.3s;
        }

        .cs-category {
            font-size: (14/16rem);
            /* centers the text if the category bullet has to span multiple lines */
            text-align: center;
            padding: (4/16rem) (16/16rem);
            color: #1a1a1a;
            border-radius: (80/16rem);
            position: relative;
            z-index: 0;
            overflow: hidden;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: #e8e8e8;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-bubbles {
            width: (321/16rem);
            height: (423/16rem);
            display: none;
            position: absolute;
            top: (1063/16rem);
            right: (-140/16rem);
            z-index: -1;

            &:before {
                /* white border bubble */
                content: "";
                width: (264/16rem);
                height: (264/16rem);
                background: transparent;
                opacity: 1;
                border: 1px solid #1a1a1a;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                animation-name: floatAnimation;
                animation-duration: 5s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }

            &:after {
                /* orange bubble */
                content: "";
                width: (264/16rem);
                height: (264/16rem);
                background: var(--primary);
                opacity: 0.1;
                border-radius: 50%;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                animation-name: floatAnimation2;
                animation-duration: 14s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #blog-1347 {
        .cs-bubbles {
            display: block;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #blog-1347 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 4;
        }

        .cs-bubbles {
            top: (281/16rem);
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #blog-1347 {
        .cs-bubbles {
            margin-right: (-990/16rem);
            right: 50%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #blog-1347 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-date,
            .cs-category {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-date,
            .cs-category {
                opacity: 0.8;
            }

            .cs-item-text {
                background-color: var(--medium);
            }

            .cs-category {
                &::before {
                    background-color: var(--accent);
                }
            }
        }
    }
}   