---
title: 'Home | Sidney Switzer'
description: 'Meta description for the page'
preloadImg: '/assets/images/faith-mountains.webp'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <h1 class="cs-title">Stepping out in <span>Faith</span></h1>                
                <span class="cs-topper">Trusting God in my journey</span>
                <p class="cs-text">
                    Thank you for joining me on the journey of a lifetime. God has called me to follow him to the ends of the earth. I don't know what that looks like just yet, but I've said yes!
                </p>
                <a href="/about" class="cs-button-solid">Read my story</a>
                <a href="/blog" class="cs-button-transparent">View Blog</a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/faith-mountains.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/faith-mountains.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/faith-mountains.webp" alt="Sidney Switzer Praying" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/sidney-rays.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/sidney-rays.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/sidney-rays.webp" alt="Sidney Switzer in a Rays shirt" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/sidney-africa.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/sidney-africa.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/sidney-africa.webp" alt="Sidney Switzer in Africa" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Me</span>
                <h2 class="cs-title">Hi, I'm Sidney!</h2>
                <h3 class="cs-text">So good to gave you here.</h3>
                <p class="cs-text">
                   Thank you for joining me on the journey of a lifetime. God has called me to follow him to the ends of the earth. I don't know what that looks like just yet, but I've said yes! 
                </p>
                <p class="cs-text">
                    Join me here as I share my journey of faith, adventures around the world, and the lessons God is teaching me along the way. From jet lag journeys to spiritual revelations, every step is part of His beautiful plan.
                </p>
                <p class="cs-texc">
                    I believe that when we say "yes" to God's calling, He opens doors we never imagined and takes us on adventures beyond our wildest dreams. Come along as I discover what it means to truly trust Him with everything.
                </p>
                <a href="/about" class="cs-button-solid">More About Me</a>
        </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/germany.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/germany.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/germany.webp" alt="Building in Germany" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/sidney-germany.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/sidney-germany.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/sidney-germany.webp" alt="Sidney Switzer in Germany" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-container">
            <div class="cs-right">
                <span class="cs-topper">Germany</span>
                <h2 class="cs-title">My Latest Adventure</h2>
                <p class="cs-content">I recently made it to Germany and learned so much about trusting God through the challenges of jet lag and time differences. Even in the small things, He's teaching me to rely on Him.</p>
                <a href="/blog" class="cs-button-solid">Read the Full Story</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-285">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Guided by Grace</span>
                <h2 class="cs-title">My Faith Journey</h2>
                <p class="cs-text">
                    Every step of this journey has been guided by God's hand. Here are some of the beautiful ways He's been working in my life.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/cross1.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Saying Yes to God's Call</h3>
                        <p class="cs-item-text">
                            The moment I decided to trust God completely and follow Him wherever He leads, even when the path seemed uncertain.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/jesus.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Adventures Around the World</h3>
                        <p class="cs-item-text">
                            From conquering jet lag in Germany to discovering God's beauty in new places, every journey teaches me something new.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/cross2.svg" loading="lazy" decoding="async" alt="icon" width="38" height="52" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Growing in God's Faith</h3>
                        <p class="cs-item-text">
                           Learning to trust God's timing, embrace His plans, and find joy in the unexpected turns of life's journey.
                        </p>
                    </a>
                </li>
            </ul>
            <!-- <a href="" class="cs-button-solid">View Portfolio</a> -->
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Around the World</span>
            <h2 class="cs-title">My Journey in Photos</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/church.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/church.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/church.webp" alt="Church in Africa" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/friends.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/friends.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/friends.webp" alt="Sidney Switzer and new friends" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/more-friends.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/more-friends.webp">
                        <img aria-hidden="true" decoding="async" src="/assets/images/more-friends.webp" alt="More friends I have met on my journey" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/DSC_0596.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/DSC_0596.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/DSC_0596.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/IMG_8061.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG_8061.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/IMG_8061.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/e617d5a6-9025-402a-a17d-e4e94fc44b4d.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/e617d5a6-9025-402a-a17d-e4e94fc44b4d.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/e617d5a6-9025-402a-a17d-e4e94fc44b4d.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/IMG_3756.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG_3756.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/IMG_3756.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/7416bb71-2330-4e9d-8434-2dad5a339493.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/7416bb71-2330-4e9d-8434-2dad5a339493.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/7416bb71-2330-4e9d-8434-2dad5a339493.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/IMG_4931.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG_4931.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/IMG_4931.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <!-- <a href="/gallery" class="cs-button-solid">View Full Gallery</a> -->
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Recent Posts                 -->
    <!-- ============================================ -->

    <section id="blog-1347">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Blog</span>
                <h2 class="cs-title">Latest News And Articles</h2>
                <!-- <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis quam eu elit lobortis ultrices. Nulla ut accumsan lorem, sed molestie justo. Praesent vehicula eleifend.
                </p> -->
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a class="cs-link" href="https://cincinnatiwebdesigns.com/blog/wordpress-bans-wp-engine/">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                srcset="/assets/images/wp.webp">
                            <source media="(min-width: 601px)"
                                srcset="/assets/images/wp.webp">
                            <img decoding="async"
                                src="/assets/images/wp.webp"
                                alt="wordpress bans wp engine" width="413" loading="lazy" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-item-text">
                            <h3 class="cs-h3">
                                Wordpress Bans WP Engine And Impacts Millions of Websites
                                <picture class="cs-icon-wrapper">
                                    <img class="cs-icon" decoding="async"
                                            src="/assets/images/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                                </picture>
                            </h3>
                            <div class="cs-info">
                                <span class="cs-date">
                                    <img class="cs-date-icon" decoding="async"
                                            src="/assets/images/agency-calendar.svg"
                                            alt="calendar" width="413" height="374" aria-hidden="true">
                                    06 Jan, 2025
                                </span>
                                <span class="cs-category">
                                    Cincinnati Web Design
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="https://cincinnatiwebdesigns.com/blog/how-to-design-a-website/">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                srcset="/assets/images/design.webp">
                            <source media="(min-width: 601px)"
                                srcset="/assets/images/design.webp">
                            <img decoding="async"
                                src="/assets/images/design.webp"
                                alt="how to design a website" width="413" loading="lazy" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-item-text">
                            <h3 class="cs-h3">
                                How To Design A Website For Beginners
                                <picture class="cs-icon-wrapper">
                                    <img class="cs-icon" decoding="async"
                                            src="/assets/images/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                                </picture>
                            </h3>
                            <div class="cs-info">
                                <span class="cs-date">
                                    <img class="cs-date-icon" decoding="async"
                                            src="/assets/images/agency-calendar.svg"
                                            alt="calendar" width="413" height="374" aria-hidden="true">
                                    08 Aug, 2024
                                </span>
                                <span class="cs-category">
                                    Cincinnati Web Design
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a class="cs-link" href="https://cincinnatiwebdesigns.com/blog/what-is-the-difference-between-hand-coded-websites-and-wordpress-sites/">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)"
                                srcset="/assets/images/wordpress.webp">
                            <source media="(min-width: 601px)"
                                srcset="/assets/images/wordpress.webp">
                            <img decoding="async"
                                src="/assets/images/wordpress.webp"
                                alt="what is the difference between hand coded websites and wordpress sites" width="413" loading="lazy" height="374" aria-hidden="true">
                        </picture>
                        <div class="cs-item-text">
                            <h3 class="cs-h3">
                                What Is The Difference Between Hand Coded Websites And Wordpress Sites?
                                <picture class="cs-icon-wrapper">
                                    <img class="cs-icon" decoding="async"
                                            src="/assets/images/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                                </picture>
                            </h3>
                            <div class="cs-info">
                                <span class="cs-date">
                                    <img class="cs-date-icon" decoding="async"
                                            src="/assets/images/agency-calendar.svg"
                                            alt="calendar" width="413" height="374" aria-hidden="true">
                                    06 Jun, 2024
                                </span>
                                <span class="cs-category">
                                    Cincinnati Web Design
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="cs-bubbles" aria-hidden="true"></div>
    </section>      
    
    {% include 'components/cta.html' %}
{% endblock %}